<p>
  interests-chart works!
</p>
<div class="container">
<div style="display: block">
	<div>{{data[0].data }}</div>
<div   *ngIf="shown"  >
<!-- <canvas #mycanvas  baseChart [data]="doughnutChartData"  
  					[labels]="doughnutChartLabels"
              		[chartType]="doughnutChartType"  
              		(chartHover)="chartHovered($event)"
              		(chartClick)="chartClicked($event)">
              	
  </canvas>	 -->

  <chart [labels]="labels" [data]="data" type="doughnut"></chart>
</div>
  
</div>
</div>
<!-- <script src="../node_modules/chart.js/src/chart.js"></script> -->