<router-outlet></router-outlet>
<h2 class="page-header">Edit Location</h2>



<sebm-google-map [latitude]="location.latitude" [longitude]="location.longitude" >
  <sebm-google-map-marker [latitude]="location.latitude" [longitude]="location.longitude"></sebm-google-map-marker>

</sebm-google-map>


<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="location.title" name="title" required>
  </div>
  <div class="form-group">
    <label>Altitude</label>
    <input class="form-control" type="text" [(ngModel)]="location.latitude" name="latitude" required>
  </div>
  <div class="form-group">
    <label>Longitude</label>
    <input class="form-control" type="text" [(ngModel)]="location.longitude" name="longitude" required>
  </div>
  <div class="form-group">
    <label>Ouverture</label>
    <input class="form-control" type="text" [(ngModel)]="location.ouverture" name="ouverture" required>
  </div>
<!--   <div class="form-group">
    <input id="image" name="image" [(ngModel)]="image" type="file" >
  </div> -->
  <input type="submit" value="submit" class="btn btn-success">
</form>