.nav{ 
    background-color: #FF0080;
}
.container{
      background-color: #FF0080;
}
.body{
      background-color: #FF0080;
}


.navbar-inverse{
      background-color: #FF0080;
}
.head{
      background-color: #FF0080;
}