<router-outlet></router-outlet>
{{num}}
{{num1}}
<!-- {{byaddress('paris12')}} -->
<!-- <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div> -->


<!-- <div>
      <label>PDF src</label>
      <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
  </div> -->
<br/>
<br/>
 <div id="chartdiv" [style.width.%]="100" [style.height.px]="300"></div>
  <div id="chartdiv1" [style.width.%]="100" [style.height.px]="300"></div>