<h1>hello wrold</h1>
<div class="container">

	<label>email</label>
	<input type="text" name="email"  >
	<label>password</label>
	<input type="text" name="password" >
    <button (click)="login()">Login</button>

<!-- 	<form (ngSubmit)="save(localUser.email,localUser.password)" #bookForm="ngForm">
		<label for="name">Label : </label>
		<input type="text" [(ngModel)]="localUser.email" name ="email">
		
		<label for="name">Label : </label>
		<input type="text" [(ngModel)]="localUser.password" name ="password">

		<button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
		{{localUser.email}}|{{localUser.password}}
	</form>
 --> 

 
</div>

