<div class="container">
	<form (ngSubmit)="save(inte._id)" #bookForm="ngForm">
		<label for="name">Label : </label>
		<input type="text" [(ngModel)]="inte.label" name ="label" required>
		<!-- <button class="btn btn-info" (click)="ajouter($event)">Add</button> -->
		<button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
		<button type="button"class="btn btn-primary" (click)=reset($event)>Reset</button>
		<!-- <input type="submit" name="addbtn" value="Add"> -->
		<!-- {{inte._id}}|{{inte.label}} -->
	</form>

	<h1>Interests Catalogue</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Category</th>
			</tr>
			<tr>
			</tr>
			<tr>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ints of interests">
				<td>
					<div class="col-md-12">
						{{ ints.label }}
					</div>
				</td>
				<!--         <td>Show Detail</td> -->        
				<td>
					<div class="col-md-8">
						<button  class="btn btn-primary" (click)="editer($event,ints._id)">Edit</button>
					</div>
				</td>
				<td>
					<div class="col-md-8">
						<button  class="btn btn-danger" (click)="supprimer($event,ints._id)">Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- <div class="container">
<div style="display: block">
  <canvas baseChart [data]="doughnutChartData"  
  					[labels]="doughnutChartLabels"
              		[chartType]="doughnutChartType"  
              		(chartHover)="chartHovered($event)"
              		(chartClick)="chartClicked($event)">
              	
  </canvas>
</div>
</div> -->


