


<h2 class="page-header">Add Location</h2>


<sebm-google-map [latitude]="latitude" [longitude]="longitude" >
  <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
</sebm-google-map>
 <div class="form-group">
        <input placeholder="search for location"  autocorrect="off"  autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" [(ngModel)]="a" (click)="onChange($event,a,latitude,longitude)">
      </div>
    <!--   <p>{{title}}</p> -->
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="location.title" value="{{a}}"  name="title" required>
  </div>
  <div class="form-group">
    <label>Altitude</label>
    <input class="form-control" type="text" [(ngModel)]="location.latitude" value="{{latitude}}"  name="latitude" required>
  </div>
  <div class="form-group">
    <label>Longitude</label>
    <input class="form-control" type="text" [(ngModel)]="location.longitude"  value="{{longitude}}"  name="longitude" required>
  </div>
  <div class="form-group">
    <label>Ouverture</label>
    <input class="form-control" type="text" [(ngModel)]="location.ouverture" name="ouverture" required>
  </div>
<!--   <div class="form-group">
    <input id="image" name="image" [(ngModel)]="image" type="file" >
  </div> -->
  <input type="submit" value="submit" class="btn btn-success">
</form>
