<br />
<form (submit)="saveBeacon()">
  <div class="form-group">
    <label style="color: #DF0101">uuid</label>
    <input class="form-control" style="width:600px;margin-left:60px" type="text" [(ngModel)]="beacon.uuid" name="uuid" required>
  </div>
  <div class="form-group">
    <label style="color: #DF0101">Major</label>
    <input class="form-control" style="width:600px;margin-left:60px" type="text" [(ngModel)]="beacon.major" name="major" required>
  </div>
  <div class="form-group">
    <label style="color: #DF0101">Minor</label>
    <input class="form-control" style="width:600px;margin-left:60px"  type="text" [(ngModel)]="beacon.minor" name="minor" required>
  </div>
  <div class="form-group">
    <label style="color: #DF0101">Address</label>
    <input class="form-control" style="width:600px;margin-left:60px"  type="text" [(ngModel)]="beacon.address" name="address" required>
  </div>
  <div class="form-group">
    <label style="color: #DF0101">Longi</label>
    <input class="form-control" style="width:600px;margin-left:60px" type="number" maxlength="5" value="{{p1}}" [(ngModel)]="beacon.longi"    name="longi" required>
  </div>
  <div class="form-group">
    <label style="color: #DF0101">lapti</label>
    <input class="form-control" style="width:600px;margin-left:60px" type="number" maxlength="5" value="{{p2}}" [(ngModel)]="beacon.lapti"    name="lapti" required>
  </div>
  
 
  <input type="submit" value="submit" class="btn btn-success">
</form>

<sebm-google-map (mapClick)="getPosition($event)" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [backgroundColor]="backgroundColor" >
  <sebm-google-map-marker *ngFor=" let post of posts" [latitude]="post.lapti" [longitude]="post.longi" ></sebm-google-map-marker>
</sebm-google-map>