<!-- <div class="container">
  <div class="row" *ngFor="let post of posts">
    <div class="card card-block">
     <h4 class="card-title">{{ post._id}}</h4>
      <h4 class="card-title">{{ post.uuid }}</h4>
      <p class="card-text">{{post.minor}}</p>
      <p class="card-text">{{post.state}}</p>

      <a [routerLink]="['/posts/'+post._id]" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div> -->
<sebm-google-map (mapClick)="getPosition($event)" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [backgroundColor]="backgroundColor" >
  <sebm-google-map-marker *ngFor=" let post of posts" [latitude]="post.lapti" [longitude]="post.longi" ></sebm-google-map-marker>
</sebm-google-map>

<section style="background-color: #00FFBF;box-shadow: 10px 10px 5px #888888;border: 4px solid DarkOrange;
  border-radius: 40px; 
  border-spacing: 0;">
  <!--for demo wrap-->
  <!-- <h1 style="margin-right:50px;color:#2E2E2E;text-shadow: 2px 2px 4px #000000;">Ibeacons-List</h1> -->
  <div class="tbl-header" >
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th style="color:#045FB4"><b><a [routerLink]="['/beacons/add']"><img style="width:20px;height:20px" src="https://cdn1.iconfinder.com/data/icons/navigation-and-ui-menu/32/plus_additional_add_circle-512.png"></a>&nbsp;&nbsp;&nbsp;Major</b></th>
          <th style="color:#045FB4"><b>Minor</b></th>
          <th style="color:#045FB4"><b>State</b></th>
          <th style="color:#045FB4"><b>Address</b></th>
          <th style="color:#045FB4"><b></b></th>
          <th style="color:#045FB4"><b>Remaining days</b></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

        <tr *ngFor="let post of posts" [routerLink]="['/posts/'+post._id]">
          <td><b><a><img style="width:20px;height:20px" src="https://cdn3.iconfinder.com/data/icons/sympletts-part-2/128/circle-minus-512.png"></a>&nbsp;&nbsp;&nbsp;{{post.major}}</b></td>
          <td><b>{{post.minor}}</b></td>
          <td  *ngIf="post.state=='working'" style="background-color:#01DF01"><b>{{post.state}}</b></td>
          <td  *ngIf="post.state=='outoforder'" style="background-color:#FE2E64"><b>{{post.state}}</b></td>
          <td><b>{{post.address}}</b></td>
         <td> <button class="btn btn-danger" type="button" (click)="deleteBeacon(post._id)">DELETE</button></td>
          <td><div style="height:20px" class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
  style="width: 60%;">
   
  </div><b style="margin-left:10px;color:blue">{{post.remainingdays}}</b>
</div></td>

        </tr>
        
      </tbody>
    </table>
  </div>
</section>























<div style="display: block;width:400px;height:700px;margin-left:400px">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

